
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <div class="swiper-button-prev"></div>
      <img alt="Image1" src='<%=Product.first.front_page.url(:original)%>'>
      </div>
   
    <div class="swiper-slide">
      <img alt="Image2" src='<%=Product.last.front_page.url(:original)%>' >
      </div>
    </div>
    <div class="pagination"></div>

    <div class="swiper-button-next"></div>
    </div>
 
