<h1>About Us </h1>
<br>
<h2>Our Mission:</h2>
<p>We are a medium sized book wholesale supply company. We specialise in bringing the latest titles from the publishing houses to the retails at 
a great new cost. We endeavor to provide quality service with a smile. </p>
<br>
<h2>Location:</h2>
<%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=Forbes+NSW+2871&zoom=18&size=600x300&maptype=roadmap&key="+ENV.fetch('gkey'))%>
